.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    box-shadow: 0px 1px 3px -2px #000;
    margin-bottom: 1px;
    background: white;
}
